---
---

<header class="w-full h-1/6 min-h-24 relative bg-Vblue bg-opacity-80 font-inter flex justify-center items-center">
    <h1 class="w-fit h-auto text-5xl text-Vheader font-inter font-bold brightness-125">
        Biscocho
    </h1>
</header>